<span>{{ $ctrl.buttonMove() }}</span>
<md-card ng-if="$ctrl.grpLabelA()" translate="customized.libraries.details" flex="100" class="bar alert-bar courier-info">
</md-card>

<md-card ng-if="$ctrl.grpLabelB()" translate="customized.slsp.details" flex="100" class="bar alert-bar courier-info">
</md-card>

<div ng-if="$ctrl.getPatronGrp()" layout="column">
    <div layout="column">
        <div translate="customized.personal.details"></div>
        <md-button href="{{ $ctrl.detailsBaseEdu }}?lang={{ $ctrl.getLanguage() }}" target="_blank" layout="row" class="courier-info bar alert-bar" layout-align="center center">
            <prm-icon class="rotate-20 margin-right-small" icon-type="svg" svg-icon-set="primo-ui" icon-definition="pencil">
            </prm-icon>
        </md-button>
    </div>
</div>

<br />
<div ng-if="$ctrl.getPatronGrp()" layout="column">
    <div translate="customized.libcard.number"></div>
    <md-button href="{{ $ctrl.detailsBaseReg }}?lang={{ $ctrl.getLanguage() }}" target="_blank" layout="row" class="courier-info bar alert-bar" layout-align="center center">
        <prm-icon class="rotate-20 margin-right-small" icon-type="svg" svg-icon-set="primo-ui" icon-definition="account-card-details">
        </prm-icon>
    </md-button>
</div>
</div>
</div>