<div ng-if="['E73', 'E76', 'E79', 'tri_isdc', 'USTAR', 'USTAZ', 'A154', 'A164', 'A178', 'A186', 'A188', 'A190', 'A191', 'A196', 'A200', 'A202', 'A204', 'A206', 'A220', 'A222', 'A226', 'A232', 'A235', 'A238', 'A245', 'A251', 'A253', 'A255', 'A256', 'A264', 'A265', 'A266', 'A278', 'A280', 'A298', 'A301', 'A304', 'A316', 'A320', 'A344', 'A348', 'A356', 'A361', 'A363', 'A368', 'A369', 'A373', 'A374','A381', 'AKB', 'URIET', 'StASO', 'B429'].includes($ctrl.getLibraryCode())"
    layout="row" class="spezLibInfo bar alert-bar zero-margin-bottom layout-align-center-center layout-row" layout-align="center center">
    <span class="md-subhead"><span class="md-subhead-part1" translate="customized.onsite.before">&nbsp;</span>
    <a ng-href="{{ $ctrl.biblinkBase }}{{ $ctrl.getLibraryCode() }}&lang={{ $ctrl.getLanguage() }}" target="_blank">{{ $ctrl.getLibrary() }}</a>
    </span>{{$ctrl.specialInfoBox()}}
</div>



<div class="i-button neutralized-button arrow-link-button md-button md-primoExplore-theme md-ink-ripple"><a ng-href="{{ $ctrl.biblinkBase }}{{ $ctrl.getLibraryCode() }}&lang={{ $ctrl.getLanguage() }}" target="_blank"><span>{{ $ctrl.getLibrary() }}</span><prm-icon link-arrow="" icon-type="svg" svg-icon-set="primo-ui" icon-definition="chevron-right" [display-mode]="::$ctrl.displayMode"><!----><md-icon ng-if="::($ctrl.iconDefinition &amp;&amp; !$ctrl.isCustom &amp;&amp; !$ctrl.isEmailMode())" md-svg-icon="primo-ui:chevron-right" role="presentation" class="md-primoExplore-theme"><svg id="chevron-right_cache76" width="100%" height="100%" viewBox="0 0 24 24" y="384" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
</svg></md-icon><!----><!----><prm-icon-after parent-ctrl="$ctrl"></prm-icon-after></prm-icon></a></div>